# --- Android Studio / IntelliJ ---
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# --- Archivos de compilación de módulos ---
/app/build
/frontend_android/build
/frontend_android/app/build

# --- Archivos específicos de tu estructura ---
# Si generaste archivos temporales en la raíz
.idea/
